/*
 * Style tweaks
 * --------------------------------------------------
 */
body {
  padding-top: 100px;
  background-color: #f5f5f5;
  height: 100%;
  width: 100%;
}
footer {
  padding-left: 15px;
  padding-right: 15px;
  background-color: #fff;
  float: right;
}

/*
 * General
 * --------------------------------------------------
 */
 hr {
  border-color: #F05F40;
  border-width: 3px;
  max-width: 100px;
}
hr.light {
  border-color: white;
}
a {
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
  color: #F05F40;
}
a:hover,
a:focus {
  color: #eb3812;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}
p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}

/*
 * NavBar
 * --------------------------------------------------
 */
#mainNav {
border: none;
} 
#mainNav .navbar-header {
padding:12px;
text-transform: uppercase;
font-weight: 700;
font-size: 14px;		
}
#hiddenNav {	
	border: none;
  margin-top: 50px;
  background-color: #F05F40; 
   
}
#hiddenNav .navbar-header .navbar-brand {	
padding:18px;
color: #4f4f4f;
text-transform: uppercase;
font-weight: 500;
font-size: 14px;
font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}
#hiddenNav .navbar-header .navbar-brand:hover {
color: white;	
}
.navbar-default .navbar-header #home {
margin: 10px;  
padding: 20px;	
}
img {
  height: 48px;
  width: 66px;
}
.welcome {
font-weight: 200;
font-size: 16px;
background-color: white;
padding: 19px;	
}
.welcome:hover {
color: #F05F40;	
}
.logout {
	float: right;
}
/*
 * Index
 * --------------------------------------------------
 */
header {
  
  width: 100%;
  min-height: 520px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center;
  background-image: url('../image/cafe.jpg');
  text-align: center;
  color: white;
}
header .header-content {
 
  text-align: center;
  padding: 100px 15px 100px;
  width: 100%;
}
header .header-content .header-content-inner h1 {
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 30px;
}
header .header-content .header-content-inner hr {
  margin: 30px auto;
}
header .header-content .header-content-inner p {
  font-weight: 300;
  color: rgba(255, 255, 255, 0.7);
  font-size: 16px;
  margin-bottom: 50px;
} 
.bg-primary {
  background-color: #F05F40;
}



.form-signin {
  max-width: 450px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input.top {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input.middle {
    margin-bottom: -1px;
    border-radius: 0;
}
.form-signin input.bottom {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.register {
	border: 1px solid #F05F40;
	padding: 15px;
	font-size: 21px;
	/* color: white; */
	font-weight: 200;
}
.register:hover {
	border: 3px solid #F05F40;
	padding: 13px;
	text-decoration: none;
}
.btn-primary {
  color: white;
  background-color: #F05F40;
  border-color: #F05F40;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: white;
  background-color: #ee4b28;
  border-color: #ed431f;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  background-image: none;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #F05F40;
  border-color: #F05F40;
}